{
  "version" : "2017-02-28",
  "operation" : "Query",
  "index": "containerId-index",
  "query": {
    "expression": "containerId = :containerId",
    "expressionValues": {
      ":containerId": {
        "S": "${ctx.args.containerId}"
      }
    }
  },
  "select": "ALL_ATTRIBUTES"
}