{
  "version" : "2017-02-28",
  "operation" : "GetItem",
    "key" : {
      "foo" : { "S" : "${context.arguments.foo}" },
      "bar" : { "S" : "${context.arguments.bar}" }
    },
  "consistentRead" : true
}